@page
@model loginSession.Pages.LoginModel
@{
}

<div class="text-center">
    <div class="login">
        <table style="width:100%;">
            <tr>
                <td>USERNAME: </td>
                <td><input id="login-username" type="text" /></td>
            </tr>
            <tr>
                <td>PASSWORD:</td>
                <td><input id="login-password" type="text" /></td>
            </tr>
            <tr>
                <td><input id="login-button" type="button" value="login" /></td>
            </tr>
        </table>
    </div>
</div>