@page
@model RazorPageTest.Pages.FormModel
@{
    ViewBag.Title = "Contact";
}

<div class="form-container">
    <form method="POST">
        <label asp-for="Contact.Name">Name:*</label>
        <input asp-for="Contact.Name" />
        <label asp-for="Contact.Email">Email:*</label>
        <input asp-for="Contact.Email" />
        <div class="select-container">
            <label>Coontry:</label>
            <select asp-for="Contact.Country">
                <option value="Netherlands">Netherlands</option>
                <option value="England">England</option>
                <option value="Belgium">Belgium</option>
                <option value="Germany">Germany</option>
            </select>
        </div>
        <div class="text-container">
            <label asp-for="Contact.Subject">Subject*</label>
            <textarea asp-for="Contact.Subject"></textarea>
        </div>
        <div class="button-container">
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
        </div>
    </form>
    <div>
        <p>@ViewData["Message"]</p>
    </div>
</div>