@page
@model LearnASPNETCoreRazorPagesWithRealApps.Work2Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work2</title>
</head>
<body>

    <h3>Work 2</h3>
    Welcome @Model.UserId
    <br />
    <a asp-page="login" asp-page-handler="logout">Logout</a>

</body>
</html>