body {
    text-align  : center;
    background  : url("images/voetbalstadium.jpg")
}

h1{
    color       : red;
}

table{
    margin-left : auto;
    margin-right: auto;
    text-align  : left;
    border      : 1px solid black;
}

.gridview{
    margin-left : auto;
    margin-right: auto;
    text-align  : center;
}